@using Microsoft.AspNetCore.Http
@model cloudscribe.Pagination.Models.PagedResult<LinkRatingViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Link";
    ViewData["Action"] = "Profile";
}
<div class="jumbotron">
    <h1>Agregator linków</h1>
    <p>
        <a asp-action="Create"><strong>Dodaj nowy link</strong></a>
    </p>
</div>
@foreach (var item in Model.Data)
{
<div class="row borders">
    <div class="col-md-10">

        <h3>
            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
        </h3>
        <span class="lead"><a href="@Html.DisplayFor(modelItem => item.LinkAddress)">@Html.DisplayFor(modelItem => item.LinkAddress)</a></span>

        <p style="text-align:left">Data dodania: @Html.DisplayFor(modelItem => item.AddingData)</p>

    </div>
    <div class="col-md-2">
        @if (Context.Session.GetString("UserID") != null && Context.Session.GetString("UserID") == item.UserId.ToString())
        {
            <span style="font-size:large"> <strong>Liczba ocen: @Html.DisplayFor(modelItem => item.Sum) </strong></span>
        }
    </div>

    </div>
    }
<partial name="_PaginationPartial" view-data="ViewData" model="Model" />

